@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.mobile-product {
    width: 25%;
    margin-bottom: 1rem;
    padding: 0;
    @include flex(center, flex-start);
    flex-direction: column;
 
    &__pic-container{
        position: relative;
        &-add{
            @include flex(center, center);
            position: absolute;
            padding-bottom: .125rem;
            top: -0.3125rem; 
            right: .3125rem; 
            transform: translateX(50%); 
            width: 24px; 
            height: 24px; 
            border-radius: 50%;
            background-color: $bg-primary-light; 
            border: 2px solid $bg-primary-dark; 
            cursor: pointer; 
            z-index: 2; 
            font-weight: 700;
        }
    }
    &__pic {
        object-fit: cover;
        width: 4rem;
        height: 4rem;
        border-radius: .4rem;
        border: 1px solid $bg-primary-dark; 

    }


    &__name {
        font-size: .8rem;
        width: 80%;
        font-family: 'lush', sans-serif;     

    }
    &__cost {
        
        font-size: 0.8rem;
        font-weight: 400;
    }
}