.mobile-header {
    
    display: flex;
    justify-content: space-between;    
    align-items: center;
    margin-bottom: 1rem;
    width: auto;
    h1{
        font-size: 2rem;
        font-weight: 800;
    }
    h4{
        font-weight: 700;
        font-size: 1rem;
        max-width: 100%; 
        text-align: center;
        line-height: 15px;
        cursor: pointer;
    }
}

