@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.mobile-cart-product {
    @include flex(space-between);
    margin-bottom: 1rem;
    padding: 0;
    
    &__pic {
        object-fit: cover;
        width: 5.5rem;
        height: 5.5rem;
        border-radius: .1rem;
    }

    &__info {
        margin: 0 0.5rem;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        @include flex(space-between, flex-start);
        &-bottom{
            width: 100%;
            @include flex(space-between, flex-end)
      
      }
    }
    &__name {
        font-size: 1rem;
        font-family: 'lush', sans-serif;     }

    &__category {
        font-size: 1rem;
    }

    &__counter {
        @include flex (flex-start, center);
        align-self: flex-end;
        font-size: 1rem;
        margin-top: 0.5rem;
    }

    &__counter-reduce, &__counter-increase {
        @include flex(center, center);

        border: solid 1px $border-dark;
        border-radius: 50%;
        width: 1.05rem;
        height: 1.05rem;
        font-weight: 800;
    }

    &__counter-quantity {
        margin: 0 0.25rem;
        font-weight: 800;

    }

    &__cost {
        font-size: 1rem;
        font-weight: 800;
        align-self: flex-end;
    }
}