@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.mobile-cart {
    @include flex(space-between);
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;

    &__title {
        font-size: 1rem;
        letter-spacing: .5px;
        margin-bottom: 0.5rem;
        font-weight: 700;
    }

    &__products {
        flex-grow: 1;
    }

    &__summary-title {
        font-size: 1rem;
        letter-spacing: .5px;
        width: 100%;
        border-bottom: $border-light .0625rem solid;
    }

    &__summary-info {
        display: flex;
        flex-direction: column;

        &-detail {
            @include flex(space-between, baseline);
            font-size: .75rem;
            padding: 0.25rem 0;
            p{
                font-size: 1rem;
            }
        }
    }

   

    &__summary-info-cost {
        text-align: left;
        width: 3.75rem;
    }
  
    &__summary-info-total {
        border-top: solid 1px $border-light;
        font-size: 1rem;
        border-bottom: $border-light .0625rem solid;
        padding-top: .7rem;
        padding-bottom: .75rem;
        span{
            font-weight: 700;
        }
    }

    &__summary-info-payment {
        font-size: 1rem;
        font-weight: bold;
        padding-top: .75rem;
        padding-bottom: .75rem;
    }

    &__summary-info-buttons {
        @include flex(space-around, center);
        width: 100%;
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &__button {
        background-color: $bg-primary-dark;
        color: $text-primary-light;
        letter-spacing: .125rem;
        margin-top: 1rem;
        padding: 0.5rem;
        text-transform: uppercase;
        width: 100%;
    }
}
