@use "../../../styles/_variables" as *;

.map-search {
    &__input {
        background-image: url(../../../assets/icons/chevron-right.svg);
        background-position: 18rem center;
        background-repeat: no-repeat;
        border: solid 1px $border-dark;
        border-radius: .25rem;
        margin-right: 1rem;
        padding: 0.5rem;
        width: 100%;     
    }
}