$text-primary-dark: #000;
$text-secondary-dark: #757575;
$text-primary-light: #fff;

$bg-primary-dark: #000;
$bg-secondary-dark: #323232;
$bg-primary-highlight: #ffcc00;
$bg-secondary-highlight: #efe7db;
$bg-primary-light: #fff;
$bg-secondary-light: #f1f5f8;

$border-dark: #000;
$border-light: #c5c5c5;

$icon-primary-dark: #000;
$icon-secondary-dark: #757575;
$icon-primary-light: #fff;
$icon-secondary-light: #c5c5c5;
