@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.category-gallery {
    background-color: $bg-primary-light;
    border: solid 1px $border-dark;
    border-radius: 1rem;
    flex-grow: 1;
    margin: 0.5rem;
    padding: 1rem;
    width: 100%;

    &__title {
        font-family: 'Lush Handwritten', "Helvetica Neue";
        font-size: 1.5rem;
    }

    &__container {
        @include flex;
    }

    &__products {
        @include flex;

        flex-grow: 1;
        flex-wrap: wrap;
    }

    &__next {
        align-self: flex-end;
        flex-grow: 0;
    }
}