@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.cashier-page {
    @include flex(space-between, stretch);

    margin: 1rem;

   &__sidebar {
    width: 14%;
   }

   &__main {
    max-width: 58%;
   }

    &__cart {
        width: 25%;
    }
}