@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.categories {
    background-color: $bg-primary-light;
    border: solid 1px $border-dark;
    border-radius: 1rem;
    height: 10rem;
    margin: 0.5rem;
    overflow: hidden;
    padding: 1rem;
    width: 100%;

    &__title {
        font-family: 'Lush Handwritten', "Helvetica Neue";
        font-size: 1.5rem;
    }

    &__list {
        @include flex;

        list-style-type: none;
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding-inline-start: 0px;
        margin-left: -0.5rem;
    }

    &__list-item {
        border: solid 1px $border-dark;
        border-radius: 1.25rem;
        padding: 1rem;
        margin: 1rem 0.5rem;
        text-align: center;
        white-space: nowrap;

        &--active {
            background-color: $bg-primary-highlight;
            font-weight: bold;
        }
    }
    
}