@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.menu {
    @include flex(center, center);

    border: solid 1px $border-dark;
    border-radius: 1rem;
    flex-direction: column;
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    width: 100%;

    &__item {
        margin: 1rem 0;
    }

    &__item-icon {
        border: solid 1px $border-dark;
        border-radius: 1rem;
        height: 4rem;
        margin: 0.5rem;
        width: 4rem;
    }

    &__item-name {
        font-size: 1rem;
        font-weight: normal;
    }
}