@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.payment {
    @include flex(space-between);

    background-color: $bg-primary-light;
    border: solid 1px $border-dark;
    border-radius: 1rem;
    flex-direction: column;
    flex-grow: 1;
    margin: 0.5rem;
    overflow: hidden;
    padding: 1rem;
    width: 100%;

    &__header {
        @include flex(space-between, baseline);

        border-bottom: solid 1px $border-light;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
    }

    &__title {
        font-size: 1.25rem;
    }

    &__types {
        flex-grow: 1;
    }

    &__type {
        background-color: $bg-primary-light;
        border: solid 1px $border-dark;
        letter-spacing: .125rem;
        margin-top: 1rem;
        padding: 0.5rem;
        text-transform: uppercase;
        width: 100%;
    }

    &__button {
        align-self: flex-end;
        background-color: $bg-primary-dark;
        color: $text-primary-light;
        letter-spacing: .125rem;
        margin-top: 2rem;
        padding: 0.5rem;
        text-transform: uppercase;
        width: 100%;
    }
}