@use "../../styles//mixins" as *;
@use "../../styles/variables" as *;


.credit-payment{
  
    &-wrapper{
        padding: 1rem;
        @include flex(center, center);
        &__card{
        background-color: rgb(36, 12, 119);
        border-radius: 0.4rem;
        height: 10rem;
        width: 16rem;
        }
   }
   &-scanner{
    @include flex(flex-start, center);
    margin-bottom: 1rem;
    &__img{
        width: 1.25rem;
        margin-right: 1rem;
    }
   }
   &__details{
    &-form{
        border:$border-dark 1px solid;
        padding: 1rem;
        border-radius: 0.4rem;
        &__name, &__number, &__date, &__cvc{
            @include flex(flex-start, flex-start);
            flex-direction: column;
            }
            label{
                margin: 1rem 0;
                font-weight: 600;
                font-size: 0.8rem;
            }
            input{
                outline: none;
                border: none;
                width: 100%;
                border-bottom: $border-dark .0625rem solid;

            }
            &__date, &__cvc{
                input{
                 width: 100%;
                 
                } 
             }  
             &__date{
                margin-right: 1rem;
             }
            &--bottom{
                @include flex(space-between, center);
            } 
        }
    
        
    }
   }

  